<div class="tab {{#if tab.active}} active{{/if}}" data-group="sheet" data-tab="aboutFace">
	<div class="form-group">
		<label>{{localize "about-face.options.disable-indicator"}}</label>
		<input type="checkbox" name="flags.about-face.indicatorDisabled" data-dtype="Boolean" {{checked indicatorDisabled}} />
	</div>
	<div class="form-group">
		<label>{{localize "about-face.options.flip-or-rotate.name"}}</label>
		<div class="form-fields">
			<select name="flags.about-face.flipOrRotate" data-dtype="String">
				{{ selectOptions flipOrRotates selected=flipOrRotate localize=true }}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label>{{localize "about-face.options.facing-direction.name"}}</label>
		<div class="form-fields">
			<select
				name="flags.about-face.facingDirection"
				class="token-config-select-facing-direction"
				data-dtype="String"
			>
				{{ selectOptions facingDirections selected=facingDirection localize=true}}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label>{{localize "about-face.tokenConfig.rotationOffset.name"}}</label>
		<div class="form-fields">
			<input
				type="number"
				name="flags.about-face.rotationOffset"
				data-dtype="Number"
				value="{{rotationOffset}}"
				placeholder="0"
			/>
		</div>
	</div>
</div>